body {
  background-image: url("/leone-venter-VieM9BdZKFo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 472px) {
  body {
    background-position: center;
  }
  #hero,#rooms {
    padding-bottom: 340px;
  }
  #login{
    height: 80vh;
  }
}
